.dentaku{
  width:300px;
  height: 400px;
  text-align: center;
  
}

#result{
  display:inline-block;
  
  width: 300px;
  font-size: 30px;
  color:white;
  background-color: black;
  
  
}

#button{
    /* ボタンのサイズ */
  width: 70px;
  height: 70px;
  /* ボタンの文字サイズ */
  font-size: x-large;
  /* 数字部分の背景色 */
  background-color:#C0C0C0;
  /* ボタンの詳細設定 */
  border: none;
  border-radius: 20px;

}

#big-btn{
  width: 140px;
  height: 70px;
  font-size: x-large;
  border: none;
  border-radius: 20px;
  background-color: #FF9933;
}

#operator{
  width: 70px;
  height: 70px;
  font-size: x-large;
  border: none;
  border-radius: 20px;
  background-color: #FF9933;
}


.display {
  width: 250px;
  text-align: right; 

}